<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
/* aqui lo de las barras*/
<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Mi App de Taxi</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button routerLink="/pantallausuario" menuClose>
          <ion-icon name="map-outline" slot="start"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-item>
        <ion-item button routerLink="/perfilusuario" menuClose>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Mi Perfil</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
