html :<ion-header class="ion-no-border">
  <ion-toolbar color="taxi-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/administrador" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="taxi-content">
  <div class="main-container">
    
    <div class="avatar-section">
      <div class="avatar-wrapper">
        <img [src]="avatarUrl" alt="Avatar">
      </div>
      
      <div class="avatar-buttons">
        <ion-button fill="outline" size="small" color="taxi-yellow" (click)="cambiarFoto()" mode="ios">
          CAMBIAR
        </ion-button>
        <ion-button fill="outline" size="small" color="danger" (click)="quitarFoto()" mode="ios">
          QUITAR
        </ion-button>
      </div>
    </div>

    <form [formGroup]="perfilForm" (ngSubmit)="guardarCambios()">
      <ion-card mode="ios" class="info-card">
        <ion-card-content>
          <ion-item lines="full" [class.input-error]="esInvalido('nombre')" [class.input-success]="esValido('nombre')">
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text" placeholder="Ingresa tu nombre"></ion-input>
          </ion-item>

          <ion-item lines="full" [class.input-error]="esInvalido('apellido')" [class.input-success]="esValido('apellido')">
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input formControlName="apellido" type="text" placeholder="Ingresa tu apellido"></ion-input>
          </ion-item>

          <ion-item lines="full" [class.input-error]="esInvalido('correo')" [class.input-success]="esValido('correo')">
            <ion-label position="stacked">Correo Electrónico</ion-label>
            <ion-input formControlName="correo" type="email"></ion-input>
          </ion-item>

          <ion-item lines="full" [class.input-error]="esInvalido('telefono')" [class.input-success]="esValido('telefono')">
            <ion-label position="stacked">Teléfono</ion-label>
            <ion-input formControlName="telefono" type="tel"></ion-input>
          </ion-item>

            <ion-item lines="full" [class.input-error]="esInvalido('departamento')" [class.input-success]="esValido('departamento')">
              <ion-label position="stacked">Departamento</ion-label>
              <ion-input formControlName="departamento"  placeholder="Ingresa el nombre del puesto al que perteneces"></ion-input>
            </ion-item>
          
        </ion-card-content>
      </ion-card>

      <div class="ion-padding footer-button">
        <ion-button expand="block" type="submit" [disabled]="perfilForm.invalid" class="btn-guardar" mode="ios">
          <ion-icon name="save-outline" slot="start"></ion-icon>
          Guardar y Actualizar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>